{% extends "base.html" %}

{% block title %} Members{% endblock %}
{% block nav-memb %}class="active"{% endblock %}
{% block content %}
<div class="section" id="members">
    
    <h2 class="section-heading">Members</h2>

<div class="media">
  <div class="media-left">
    <a lass="img-responsive" href="#">
      <img src="http://i.ytimg.com/vi/5qsPUTm7bd0/hqdefault.jpg" alt="beathoven"  height="171" width="180">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    Hi I am band member 1
  </div>
</div>

<hr class="divider">

<div class="media">
  <div class="media-left">
    <a lass="img-responsive" href="#">
      <img src="http://i.ytimg.com/vi/5qsPUTm7bd0/hqdefault.jpg" alt="beathoven"  height="171" width="180">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    Hi I am band member 2
  </div>
</div>

<hr class="divider">

<div class="media">
  <div class="media-left">
    <a lass="img-responsive" href="#">
      <img src="http://i.ytimg.com/vi/5qsPUTm7bd0/hqdefault.jpg" alt="beathoven"  height="171" width="180">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    Hi I am band member 3
  </div>
</div>

<hr class="divider">

<div class="media">
  <div class="media-left">
    <a lass="img-responsive" href="#">
      <img src="http://i.ytimg.com/vi/5qsPUTm7bd0/hqdefault.jpg" alt="beathoven"  height="171" width="180">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    Hi I am band member 4
  </div>
</div>

<hr class="divider">

<div class="media">
  <div class="media-left">
    <a lass="img-responsive" href="#">
      <img src="http://i.ytimg.com/vi/5qsPUTm7bd0/hqdefault.jpg" alt="beathoven"  height="171" width="180">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    Hi I am band member 5
  </div>
</div>

</div>


<!-- container end -->
{% endblock %}