{% extends "base.html" %}

{% block title %} Members{% endblock %}
{% block nav-memb %}class="active"{% endblock %}
{% block content %}
    <div class="container" id="members">

        <h2>Band Members</h2>

        <p style="margin-bottom:40px;">Eaque iste impedit culpa aspernatur odio et autem. Est
            maiores aut tenetur eius quidem.
            Est velit sint eveniet ipsa rerum qui commodi. At est voluptas magni et vero fuga
            eum. Eaque iste impedit culpa aspernatur odio et autem. Est maiores aut tenetur eius
            quidem. Est velit sint eveniet ipsa rerum qui commodi. At est voluptas magni et vero
            fuga eum. Eaque iste impedit culpa aspernatur odio et autem. Est maiores aut tenetur
            eius quidem. Est velit sint eveniet ipsa rerum qui commodi. At est voluptas magni et
            vero fuga eum.</p>

        <div class="well row">
            <div class="col-sm-2">
                <img class="img-responsive img-rounded" src="static/images/conner.jpg"
                     alt="Conner swann"
                     height="180" width="180">
            </div>
            <div class="col-sm-9">
                <h4 class="media-heading">Conner Swann</h4>
                <h5>Electric Triangle and Gnarly Vocals</h5>

                <p>
                    Conner has been with Beathoven for a little under a week now, he has great
                    ambitions in the world of music and hopes to one day perform at each and every
                    TGI Friday's franchise in Northern Arizona.
                </p>

                <p>
                    His interests include Computer Programming, Hip Hop dancing, and hustling
                    children out of their lunch money.
                </p>
            </div>
        </div>


        <div class="well row">
            <div class="col-sm-2">
                <img class="img-responsive img-rounded" src="/static/images/justin.jpg"
                     alt="Justin Poehnelt"/>

            </div>
            <div class="col-sm-9">
                <h4 class="media-heading">Justin Poehnelt</h4>
                <h5>Bass Guitar</h5>

                <p>Justin started playing music yesterday. The bass guitar works well for him since he can
                    pretend to play and no one can tell the difference. He's hoping he never has a solo...</p>
                <p>Justin loves the outdoors. He and his wife are often on an adventure exploring northern Arizona.</p>
            </div>
        </div>

        <div class="well row">
            <div class="col-sm-2">
                <img class="img-responsive img-rounded" src="/static/images/.jpg"
                     alt="Justin Poehnelt"/>

            </div>
            <div class="col-sm-9">
                <h4 class="media-heading">Member 4</h4>
                <h5>Instrument</h5>

                <p>...</p>
            </div>
        </div>

        <div class="well row">
            <div class="col-sm-2">
                <img class="img-responsive img-rounded" src="/static/images/.jpg"
                     alt="Justin Poehnelt"/>

            </div>
            <div class="col-sm-9">
                <h4 class="media-heading">Member 5</h4>
                <h5>Instrument</h5>

                <p>...</p>
            </div>
        </div>
    </div>
    <!-- container end -->
{% endblock %}