{% extends "base.html" %}

{% block title %} Events{% endblock %}
{% block nav-tour %}class="active"{% endblock %}
{% block content %}
    <div class="container" id="event">

        <h2>Upcoming Tour Events!</h2>

        <p class="lead">Eh this could just be normal text and have a heading for the place and
            smaller heading for the date and so on.</p>

        <div>
            {% for event in events %}
                <h3>{{ event.city }}, {{ event.state }} <span
                        class="small">{{ event.date | date:"F d, Y" }}</span></h3>
                <p>{{ event.description }}</p>
            {% endfor %}
        </div>


        <!-- container end -->
{% endblock %}